<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dice Game</title>
    <html lang="en"xmlns:th="http://www.thymeleaf.org"></html>
</head>
<body>
<h1> Roll The Dice Game. You Rolled <span th:text="${guess}"></span></h1>
<br>
<p><span th:text="${roll1}">1</span><span th:text="${roll2}">2</span><span th:text="${roll3}">3</span><span th:text="${roll4}">4</span><span th:text="${roll5}">5</span><span th:text="${roll6}">6</span></p>
</body>
</html>